<!DOCTYPE html>
<!--[if IE 8]> <html lang='en' class='ie8'> <![endif]-->
<!--[if IE 9]> <html lang='en' class='ie9'> <![endif]-->
<!--[if !IE]><!-->
<html lang='en'>
<!--<![endif]-->

<head>
    <title>Adam Pine | Home</title>
    <!-- Meta -->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='description' content='Adam Pine Resume Site'>
    <meta name='author' content='Template by 3rd Wave Media, Modified to use Angular.js by Adam Pine'>
    <link rel='shortcut icon' href='favicon.ico'>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <style>
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel='stylesheet' href='assets/plugins/bootstrap/css/bootstrap.min.css'>
    <!-- Plugins CSS -->
    <link rel='stylesheet' href='assets/plugins/fa5/css/all.min.css'>
    <script type='text/javascript' src='assets/js/angular.min.js'></script>
    <script type='text/javascript' src='myApp.js'></script>
    <!-- Theme CSS -->
    <link id='theme-style' rel='stylesheet' href='assets/css/styles.css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>
        <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158939482-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-158939482-1');
    </script>
</head>

<body ng-App='myApp' ng-controller='myController'>
    <header class='header'>
        <div class='container'>
            <img class='profile-image img-responsive pull-left' src='assets/images/profile.jpg' alt='Adam Pine' />
            <div class='profile-content pull-left'>
                <h1 class='name'>Adam Pine</h1>
                <h2 class='desc'>Full-Stack Software Engineer</h2>
                <h2 class='sub-desc'>Specialized in UI/UX Design & Front-End Development</h2>
                <h3 ng-if="isActivelyLooking" class='sub-desc' ng-cloak>Job Status: Looking for employment or freelance work</h3>
                <ul class='social list-inline'>
                    <li><a href='http://www.linkedin.com/in/adampine95' title='LinkedIn Profile'><i class='fab fa-linkedin'></i></a></li>
                    <li><a href='https://github.com/Adondriel' title='Github Profile'><i class='fab fa-github'></i></a>
                    </li>
                    <li><a href='https://gitlab.com/adampine95' title='Gitlab Profile'><i class='fab fa-gitlab'></i></a>
                    </li>
                </ul>
            </div>
            <!--//profile-->
            <div class="pull-right">

            </div>
        </div>
    </header>

    <div class='container sections-wrapper'>
        <div class='row'>
            <div class='primary col-md-8 col-sm-12 col-xs-12'>
                <section class='experience section'>
                    <div class='section-inner'>
                        <h2 class='heading'>Work Experience</h2>
                        <div class='content'>
                            <div class='item' ng-repeat="item in experience">
                                <h3 class='title'>
                                    {{item.title}} -
                                    <span class='place'>
                                        <a ng-href='{{item.placeLink || ""}}'>{{item.place}}</a>
                                    </span>
                                    <span class='year'>({{item.startYear}} - {{item.endYear || 'Present'}})</span>
                                </h3>
                                <ul>
                                    <li ng-repeat="desc in item.desc">{{desc}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class='latest section'>
                    <div class='section-inner'>
                        <h2 class='heading'>Latest Projects</h2>
                        <div class='content'>
                            <!-- Main project -->
                            <div class='item featured text-center'>
                                <h3 class='title'>
                                    <a ng-href='{{projectList.mainProject.url || ""}}' target='_blank'>
                                        {{projectList.mainProject.title}}
                                    </a>
                                </h3>
                                <p class='summary'>
                                    {{projectList.mainProject.summary.short}}
                                </p>
                                <div ng-if='projectList.mainProject.img' class='featured-image'>
                                    <img class='img-responsive project-image' ng-src='{{projectList.mainProject.img}}' alt='{{projectList.mainProject.title}}' />
                                    <!-- <div class='ribbon'>
                                        <div class='text'>Featured</div>
                                    </div> -->
                                </div>
                                <div class='desc text-left'>
                                    <ul>
                                        <li ng-repeat="content in projectList.mainProject.content">
                                            {{content.short}}
                                        </li>
                                    </ul>
                                </div>
                                <div ng-repeat='link in projectList.mainProject.links'>
                                    <p ng-if='link.url'>
                                        <a class='btn btn-cta-secondary' ng-href='{{link.url|| ""}}' target='_blank'>
                                            <i class='fad fa-external-link'></i>
                                            {{link.urlWords}}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div ng-repeat='project in projectList.projects' class='item row'>
                                <hr class='divider' />
                                <div class='col-md-4 col-sm-4 col-xs-12' ng-if='project.img'>
                                    <img ng-if='project.img' class='img-responsive project-image' ng-class="{'border': !project.noImgBorder}" ng-src='{{project.img}}' alt='{{project.title}}' />
                                </div>
                                <div class='desc col-xs-12' ng-class="project.img ? ' col-md-8 col-sm-8' : 'col-xs-12'">
                                    <h3 class='title'>
                                        <a href='{{project.url || ""}}' target='_blank'>{{project.title}}</a>
                                    </h3>

                                    <p ng-if="project.summary" class='summary'>{{project.summary.short}}</p>
                                    <ul>
                                        <li ng-repeat="content in project.content">{{content.short}}</li>
                                    </ul>
                                    <p ng-repeat="desc in project.desc">{{desc}}</p>
                                    <div ng-repeat='link in project.links'>
                                        <p ng-if='link.url'>
                                            <a class='btn btn-cta-secondary' ng-href='{{link.url || ""}}' target='_blank'>
                                                {{link.urlWords}}
                                                <span class='fad fa-external-link'></span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class='secondary col-md-4 col-sm-12 col-xs-12'>
                <aside class='info aside section'>
                    <div class='section-inner'>
                        <h2 class='heading sr-only'>Basic Information</h2>
                        <div class='col-sm-6 col-md-8' style="padding-left: 0;">
                            <ul class='list-unstyled'>
                                <li>
                                    <span class='sr-only'>Location:</span>
                                    <span>
                                        <i class='fad fa-map-marker-alt' aria-hidden="true"></i>
                                        <span>Camp Hill, PA</span>
                                    </span>
                                </li>
                                <li>
                                    <span class='sr-only'>Email:</span>
                                    <span>
                                        <i class='fad fa-envelope' aria-hidden="true"></i>
                                        <span>Contact@adampine.me</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class='content'>
                            <ul class='list-unstyled'>
                                <li>
                                    <a class='btn btn-xs btn-cta-primary' href='mailto:contact@adampine.me' target='_blank' style="padding: 8px 8px;">
                                        <span class="fas fa-paper-plane"  style="color:white;"></span>
                                        Contact
                                    </a>
                                </li>
                                <li>
                                    <a class='btn btn-xs btn-cta-primary' href='resources/Adam-Pine-Resume.docx' target='_blank' style="padding: 8px 8px;">
                                        <span class="fas fa-file" style="color:white;"></span>
                                        Resume
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>

                <aside class='about section'>
                    <div class='section-inner'>
                        <h2 class='heading'>About Me</h2>
                        <div class='content'>
                            <p>
                                Accomplished full-stack software engineer offering more than 3 years of experience in
                                demanding environments focused on producing cutting-edge software products. Skilled in
                                directing front-end development using a creative and performance-oriented approach.
                                Well-organized and customer-focused with proven skills in software design and development.
                            </p>
                            <p>
                                <b>I can build & host your website! I offer discounted rates to non-profit organizations!</b>
                            </p>
                        </div>
                    </div>
                </aside>

                <aside class='skills aside section'>
                    <div class='section-inner'>
                        <h2 class='heading'>Skills</h2>
                        <div class='content'>
                            <p class='intro'>
                            </p>
                            <div class='skillset'>
                                <div class='item' ng-repeat="skill in skills">
                                    <h3 class='level-title'>{{skill.title}}
                                        <p class='level-label' title="{{skill.labelTitle || ''}}">{{skill.label}}</p>
                                    </h3>
                                    <div class='level-bar'>
                                        <div class='level-bar-inner' data-level='{{skill.level}}'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>

                <aside class='education aside section'>
                    <div class='section-inner'>
                        <h2 class='heading'>Education</h2>
                        <div class='content'>
                            <div class='item'>
                                <h3 class='title'><i class='fad fa-graduation-cap'></i> BSc Software Engineering</h3>
                                <h4 class='university'>Shippensburg University <span class='year'>(2014-2018)</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </aside>

                <aside class='languages aside section'>
                    <div class='section-inner'>
                        <h2 class='heading'>Languages</h2>
                        <div class='content'>
                            <ul class='list-unstyled'>
                                <li class='item'>
                                    <span class='title'><strong>English:</strong></span>
                                    <span class='level'>Native Speaker
                                        <br class='visible-xs' />
                                        <i class='fas fa-star'></i>
                                        <i class='fas fa-star'></i>
                                        <i class='fas fa-star'></i>
                                        <i class='fas fa-star'></i>
                                        <i class='fas fa-star'></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>

                <aside class='awards aside section'>
                    <div class='section-inner'>
                        <h2 class='heading'>Awards</h2>
                        <div class='content'>
                            <div class='item'>
                                <p class='source'>
                                <h3 class='title'>President's Quality Award <span class="patent">PA No. 1553</span>
                                </h3>
                                <h4 class='university'>Development of the Resource Planner application to allow
                                    project managers to easily define staffing commitments on current projects and
                                    effectively forecast future staff resourcing needs</h4>
                                </p>
                            </div>
                            <div class='item'>
                                <p class='source'>
                                <h3 class='title'>"Be The Brand" Award</h3>
                                <h4 class='university'>For stellar work on the Global Flight Tracking alert
                                    Management
                                    Improvements for The Bristow Group</h4>
                                </p>
                            </div>
                            <div class='item'>
                                <p class='source'>
                                <h3 class='title'>"Be The Brand" Award</h3>
                                <h4 class='university'>For exceptional work with FDOT District 7</h4>
                                </p>
                            </div>
                        </div>
                    </div>
                </aside>

                <!-- <aside class='testimonials aside section'>
                    <div class='section-inner'>
                        <h2 class='heading'>Testimonials</h2>
                        <div class='content'>
                            <div class='item'>
                                <blockquote class='quote'>
                                    <p><i class='fas fa-quote-left'></i>text</p>
                                </blockquote>
                                <p class='source'>
                                    <span class='name'>name</span><br />
                                    <span class='title'>Curabitur commodo</span>
                                </p>
                            </div>
                            <p>
                                <a class='more-link' href='#'>
                                    <i class='fas fa-external-link'></i> 
                                    link
                                </a>
                            </p>
                        </div>
                    </div>
                </aside> -->

                <!-- future blog section, if needed. -->
                <!-- <aside class='blog aside section'>
                    <div class='section-inner'>
                        <h2 class='heading'>Latest Blog Posts</h2>
                        <p>You can use Sascha Depold's <a href='https://github.com/sdepold/jquery-rss'
                                target='_blank'>jQuery RSS plugin</a> to pull in your blog post feeds.</p>
                        <div id='rss-feeds' class='content'>

                        </div>
                    </div>
                </aside> -->
            </div>
        </div>
    </div>
    <footer class='footer'>
        <div class='container text-center'>
            <small class="copyright">
                Website theme originally created by
                <a href="https://themes.3rdwavemedia.com/demo/developer/">Xiaoying Riley</a>,
                Modified to use AngularJS by Adam Pine
            </small>
        </div>
    </footer>

    <script type='text/javascript' src='assets/plugins/jquery-1.11.2.min.js'></script>
    <script type='text/javascript' src='assets/plugins/jquery-migrate-1.2.1.min.js'></script>
    <script type='text/javascript' src='assets/plugins/bootstrap/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='assets/plugins/jquery-rss/dist/jquery.rss.min.js'></script>
    <!-- github activity plugin -->
    <!-- <script type='text/javascript' src='assets/plugins/github-activity/dist/mustache/mustache.min.js'></script> -->
    <!-- <script type='text/javascript' src='assets/plugins/github-activity/dist/github-activity-0.1.0.min.js'></script> -->
    <!-- custom js -->
    <script type='text/javascript' src='assets/js/main.js?v=1'></script>
    <script type='text/javascript' src='myApp.js'></script>
</body>

</html>
